@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-backdrop text-white antialiased;
  }

  #root {
    @apply flex flex-col;
  }

  .wrapper {
    height: calc(100% - theme("spacing.24"));
    @apply flex;
  }
}

@layer components {
  .nav-link{
    @apply h-10 flex gap-x-4 items-center text-sm font-semibold text-link hover:text-white px-4 mb-2 rounded;
  }
  .nav-link.active{
    @apply bg-secondary text-white;
  }

  .play-button{
    @apply
    w-10
    h-10
    opacity-0
    translate-y-4
    group-hover:translate-y-0
    group-hover:opacity-100
    duration-300 rounded-full
    bg-primary
    absolute
    bottom-2
    right-2
    flex
    items-center
    justify-center
  }
}
